body {
  background-color: #383633;
  color: #F1F1F1;
}

.card {
  background-color: #1A1A1A;
  color: #F1F1F1;
}

.form-select-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  background-color: #1a1a1a;
  color: #7d3333;
  border: 1px solid rgba(255,255,255,0.2);
}

.form-select-sm:focus {
  background-color: #1a1a1a;
  color: #f1f1f1;
  border-color: #6C5CE7;
  box-shadow: 0 0 0 0.2rem rgba(108, 92, 231, 0.25);
}